################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/writeboard.db/v14/.suo
/writeboard.db.sqlproj.user
/writeboard.db.dbmdl
obj/
bin/
*.jfm